body {
    font-family: Arial, sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-logo {
    text-decoration: none;
    color: black;
    font-size: 80px;
    margin-bottom: 45px;
    display: inline-block;
    margin-top: 45px;
}
.header-menu {
    background-color: #35444f;
    text-align: center;
}
.header-menu-item {
    display: inline-block;
    font-size: 24px;

}

.header-menu-link {
    text-decoration: none;
    color: white;
    padding: 26px 41px;
    display: inline-block;
    border-left: 1px solid  transparent;
    border-right: 1px solid  transparent;
    transition: 0.4s;
}

.header-menu-link:hover {
    background-color: #222f3a;
    border-right: 1px solid white;
    border-left: 1px solid white
}

.left-sidebar {
    float: left;
    width: 344px;
}

.sidebar-menu {
    border: 1px solid grey;
}

.sidebar-menu-link {
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #929ba1;
    font-size: 30px;
    padding: 28px 42px;
    display: inline-block;
}

.sidebar-menu-link:hover {
    padding-left: 67px;
    background-color: #dbdbdb;
}

.main-col {
    width: 885px;
    float: right;
}

.main-img {
    padding: 75px;
    text-align: center;
    border: 1px solid grey;
    margin-bottom: 40px;

}

.main-content {
    padding-top: 40px;
}

.main-text {
    line-height: 2;
    margin-bottom: 40px;
    padding: 0 0 15px 15px;
}

.bg-grey {
    background-color: #b4b7ba;
    padding: 15px 20px;
}

.footer-menu {
    float: left;
}

.footer-menu-item {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.footer-menu-link:hover{
    color: #779eb1;
    border-bottom: 1px solid #779eb1;
}

.footer-copyright {
    float:right;
    font-size: 22px;
}


